@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Chivo);

body 
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	font-size: 100%;
}

/*The different div sections */

#wrap 
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #9ACD32;
}

#background_img
{
	height: 50px;
	width: 50px;
	position:absolute;
	right:0px;
	top:0px;
	z-index:1;
	}

#header
{
	/*background: black;
	height: 100px;*/
}

#footer
{

}

#content
{
	position: absolute;
	top: 50px;
	left: 50px;
	bottom: 50px;
	right: 50px;
	background: white;
}

#main
{
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	
	margin-left: 100px;
	border-left: 1px solid #FF8080;
		
	background: white;

	font-family: 'Muli', sans-serif;
	font-size: 1.3em;
}

#main h2
{
	/*background: gray;*/
	border-bottom: 1px solid #8FCC8F;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 0px;
	/*display: inline-block;*/
}

#main h4
{
	display: inline;
}

#graphpart
{
	margin: 20px;
	border: 1px solid #8FCC8F;
	padding: 20px;
}

div.row{
	/*width: 700px;*/
	overflow:hidden;
	padding:10px;
	border-bottom: 1px solid #85A8CC;
}

span.col1{
	width: 40%;
	float: left;
	text-align: right;
	padding-right: 5%;
	padding-top: 12px;
}

span.col1header{
	width: 40%;
	float: left;
	text-align: right;
	padding-right: 5%;
}

span.col2{
	width:55%;
	float: right;
	text-align:center;
}

input[type=checkbox] 
{
	width: 44px; 
	height: 44px;
	border-radius: 22px;
	border: 1px solid #bbb;
}

input[type=text], [type=date], select
{
	display: block;
	margin: 0;
	height: 40px;
	line-height: 40px; 
	font-size: 1.3em;
	border: 1px solid #bbb;
}

input[type=submit] 
{
	display: block;
	margin: 75px;
	
	font-size: 1em; line-height: 2.5em;
	color: #333;
	font-weight: bold;
	height: 2.5em; width: 80%;
	background: #fdfdfd; 
	background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
	border: 1px solid #bbb;
	border-radius: 10px;
}
